footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-5xl);
    padding: var(--space-3xl);
    padding-bottom: var(--space-5xl) ;
    background-color: var(--darkblue);
    color: var(--lightpink);
    font-size: var(--fs-md);
}

footer a{
    display: block;
    text-decoration: none;
    padding: var(--space-xs) 0;
    color: var(--lightpink);
}

footer a:hover{
    color: var(--orange);
    text-decoration: underline;
    
}

footer h2{
    font-size: var(--fs-md);
    padding-bottom: var(--space-sm);
    text-transform: uppercase;
}

footer section{
    min-width: 250px;
}

.address li{
    list-style: none;

}


.quicklinks{
    display: flex;
    flex-direction: column;
}



.help{
    display: flex;
    flex-direction: column;
    
}



.information{
    display: flex;
    flex-direction: column;
}


.subscribe{
    display: flex;
    flex-direction: column;
}


.icons{
    display: flex;
    gap: var(--space-xs);
    flex-wrap: wrap;
}

.footer-form{
    display: flex;
    margin: var(--space-xl) 0 var(--space-lg) 0;
    gap: var(--space-xl);

}

footer input{
    background-color: transparent;
    border: 1px solid #f7cabd;
    padding: var(--space-sm);
    width: 100%;
}


footer button{
    background-color: var(--lightpink);
    color: var(--navyblue);
    text-transform: uppercase;
    font-size: var(--fs-xs);
    font-weight: bold;
    border-radius: var(--radius-lg);
    padding: var(--space-sm) var(--space-2xl);
    border: none;
    cursor: pointer;
}


footer button:hover{
    background-color: var(--orange);
}

@media (max-width: 1024px)
{
    footer{
        justify-content: space-between;
        gap: var(--space-3xl);
    }

    .subscribe{
        width: 100%;
    }
}

@media (max-width: 768px)
{
    footer{
        flex-direction: column;
        align-items: flex-start;
    }    

    .footer-form{
        flex-direction: column;
        gap: var(--space-md);
    }

    footer input{
        width: 100%;
    }

    footer button{
        width: 100%;
    }

    .icons{
        flex-wrap: wrap;
    }
}