.product-gallery {
    padding: 60px 40px;
}

.product-grid {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1120px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
}

.product-card a {
    text-decoration: none;
}

.product-image-wrapper {
    position: relative;
}

.product-image-wrapper img {
    width: 100%;
    display: block;
}