.product-gallery {
    padding: 25px 40px;
    background-color: var(--offwhite);
}

.product-grid {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1120px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
}

.product-card a {
    text-decoration: none;
    color: var(--darkblue);
}

.product-image-wrapper {
    position: relative;
    overflow: hidden;
}

.product-image-wrapper img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    display: block;
}

.product-badge {
    position: absolute;
    top: 16px;
    right: 0px;

    background-color: var(--orange);
    color: var(--darkblue);
    padding: 8px 14px;

    font-family: prompt, sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    margin-top: 12px;
}

.product-header h2 {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    font-family: prompt, sans-serif;
    font-size: 18.75px;
    font-weight: 600;
    line-height: 22.5px;
}

.product-price {
    margin: 0;
    white-space: nowrap;

    font-family: prompt, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22.5px;
}

.product-description {
    margin: 8px 0 0;

    font-family: prompt, sans-serif;
    font-size: 13.5px;
    font-weight: 300;
    line-height: 20.25px;
}

.shop-banner {
    position: relative;
    background-color: var(--offwhite);
    padding: 10px 40px 0;
}

.shop-banner img {
    display: block;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--darkblue);
    text-align: center;
}

.banner-text h2 {
    margin: 0 0 10px;
    font-family: prompt, sans-serif;
    font-size: 37.5px;
    font-weight: 600;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.banner-text p {
    margin: 0;
    font-family: prompt, sans-serif;
    font-size: 18px;
    font-weight: 300;
}