nav{
    position: fixed;
    top: var(--space-md);
    left: var(--space-md);
    right: var(--space-md);
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    background-color: var(--darkblue);
    color: var(--lightpink);
    text-transform: uppercase;
    font-size: var(--fs-sm);

}

.nav-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
    padding-left: var(--space-sm);
}

.nav-links{
    display: flex;
    flex-wrap: wrap;
    padding: var(--space-lg);
    gap: var(--space-lg);

}

.nav-links a {
    color: var(--lightpink);
    text-decoration: none;
}

.nav-links a:hover{
    color: var(--orange);
}

.nav-title :hover{
    color: var(--orange);
   
}


.nav-links .bag-icon {
  width: 20px;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}

.currency{
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    flex-shrink: 0;
}


@media (max-width: 768px)
{
    .nav-links{
        padding: var(--space-md);
        gap: var(--space-md);
    }

    nav{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 480px)
{
    .nav-links{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    nav{
        gap: var(--space-sm);
    }
}