nav{
    position: fixed;
    top: var(--space-md);
    left: var(--space-md);
    right: var(--space-md);
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    background-color: var(--darkblue);
    color: var(--lightpink);
    text-transform: uppercase;
    font-size: var(--fs-sm);

}

.nav-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
    padding-left: var(--space-sm);
}

.nav-links{
    display: flex;
    padding: var(--space-lg);
    gap: var(--space-3xl);

}

.nav-links a {
    color: var(--lightpink);
    text-decoration: none;
}

.nav-links a:hover{
    color: var(--orange);
}

.nav-title :hover{
    color: var(--orange);
   
}



